*                                     @nRFCloud/backend
/.github/                             @nRFCloud/devops @nRFCloud/backend
/**/aws/                              @nRFCloud/devops @nRFCloud/backend
